<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :পণ্যের_নাম %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :পণ্যের_বিবরণ %><br />
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :ছবি %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :মূল্য %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :প্রকাশের_তারিখ %><br />
    <%= f.datetime_select :published_at %>
  </div>
  <div class="actions">
    <%= f.submit 'তালিকায় যোগ করুন',class: "btn btn-default btn-warning" %>
  </div>
<% end %>
