<h1>পণ্যের তালিকা</h1>

<table>
  <tr>
    <th>ছবি</th>
    <th>পণ্যের নাম</th>
    <th>পণ্যের বিবরণ</th>
    <th>মূল্য</th>
    <th>প্রকাশিত হয়েছে</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
	<td><%= image_tag(product.image_url) %></td>
    <td><%= product.title %></td>
    <td><%= product.description %></td>
    
    <td><%= product.price %></td>
    <td><%= product.published_at %></td>
    <td><%= link_to 'দেখুন', product %></td>
    <td><%= link_to 'ঠিক করুন', edit_product_path(product) %></td>
    <td><%= link_to 'মুছে ফেলুন', product, method: :delete, data: { confirm: 'আপনি নিশ্চিত?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'নতুন পণ্য', new_product_path,class: "btn btn-default btn-warning" %>
